# dependencies
node_modules/
.pnpm-store/

# build output
.next/
out/
dist/
build/
.turbo/
*.tsbuildinfo

# test / coverage
coverage/
playwright-report/
test-results/

# env & secrets
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*

# editor / os
.DS_Store
.idea/
.vscode/
.vercel
